@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  --BrightBlue: hsl(220, 98%, 61%);
  --CheckBackground: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --CheckBackgroundBackwards: linear-gradient(hsl(280, 87%, 65%), hsl(192, 100%, 67%));
  /* light theme */
  --VeryLightGray: hsl(0, 0%, 98%);
  --VeryLightGrayishBlue: hsl(236, 33%, 92%);
  --LightGrayishBlue: hsl(233, 11%, 84%);
  --DarkGrayishBlue: hsl(236, 9%, 61%);
  --VeryDarkGrayishBlue: hsl(235, 19%, 35%);
  /* dark theme */
  --VeryDarkBlue: hsl(235, 21%, 11%);
  --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --LightGrayishBlueDark: hsl(234, 39%, 85%);
  --LightGrayishBlueDarkHover: hsl(236, 33%, 92%);
  --DarkGrayishBlueDark: hsl(234, 11%, 52%);
  --VeryDarkGrayishBlueDark: hsl(233, 14%, 35%);
  --VeryDarkGrayishBlueDark2: hsl(237, 14%, 26%);
  --radius: 5px;
  --transition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  background: var(--VeryLightGrayishBlue);
  font-size: 17px;
  transition: var(--transition);
}

.dark {
  background: var(--VeryDarkBlue);
}

.light {
  background: var(--VeryLightGrayishBlue);
}

/* start */
.todo-container {
  padding: 0 2rem;
  margin-top: -150px;
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

.lbg-img,
.dbg-img {
  height: 25vh;
  object-fit: cover;
  transition: var(--transition);
}

.title-container {
  margin-bottom: 1.5rem;
  letter-spacing: 8px;
  display: flex;
  justify-content: space-between;
}

.title-container h1 {
  color: var(--VeryLightGray);
}

button {
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  background: transparent;
  cursor: pointer;
}

.form {
  background: var(--VeryLightGray);
  border-radius: var(--radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 99;
  transition: var(--transition);
}

::placeholder {
  font-family: 'Josefin Sans', sans-serif;
}

.form-dark {
  background: var(--VeryDarkDesaturatedBlue);
}

.form-input {
  border: none;
  padding: 1rem;
  width: 95%;
  outline: none;
  background: none;
}

.form-dark .form-input {
  color: var(--LightGrayishBlue);
}

.submit-btn {
  background: var(--CheckBackground);
  align-self: stretch;
  padding: 1rem;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border: 1px solid var(--VeryDarkGrayishBlue);
  transition: 1s linear all
}

.submit-btn-dark {
  background: var(--CheckBackgroundBackwards);
  transition: var(--transition);
}

.submit-btn:hover {
  background: var(--CheckBackground);
}

.x {
  cursor: pointer;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--LightGrayishBlue);
  position: relative;
  z-index: 999;
  word-break: normal;
  font-size: 14px;
}

.item p {
  width: 80%;
  text-align: center;
}

.todo-items-container {
  position: relative;
  margin-top: 1rem;
  border-radius: var(--radius);
  background: var(--VeryLightGray);
  transition: var(--transition);
}

.todo-items-container-dark {
  background: var(--VeryDarkDesaturatedBlue);
}

.todo-items-container-dark .item {
  border-bottom: 1px solid var(--DarkGrayishBlue);
}

.todo-items-container-dark .item p {
  color: var(--LightGrayishBlue);
}

.todo-items-container-footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 15px;
  color: var(--DarkGrayishBlue);
}

.clear-completed {
  color: var(--DarkGrayishBlue);
  font-size: 15px;
  transition: var(--transition)
}

.clear-completed:hover {
  color: var(--LightGrayishBlueDarkHover);

}

.line {
  text-decoration: line-through;
  color: var(--LightGrayishBlue);
  transition: var(--transition)
}


input[type="checkbox"] {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--DarkGrayishBlue);
  outline: none;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  background: var(--CheckBackground);
  transition: var(--transition);
}

input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  transform: translate(-5%, -5%);
  border-radius: 50%;
  background: url(./images/icon-check.svg) no-repeat center;
  text-align: center;
}

/* remove transition for todo item */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.filter-btn-container {
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  width: 100%;
  padding: 1rem;
  transform: translate(-16px, 150%);
  background: var(--VeryLightGray);
  transition: var(--transition);
  border-radius: var(--radius);
  align-items: center;
}

.filter-btn-container-dark {
  background: var(--VeryDarkDesaturatedBlue);
}

.filter-btn-container button {
  color: var(--LightGrayishBlue);
  transition: var(--transition);
  font-weight: bold;
}

/* if button is active */
.active {
  color: var(--BrightBlue) !important;
}

/* responsive */

@media screen and (min-width:650px) {

  .todo-container {

    max-width: 85vw;

  }

  ::placeholder {
    font-size: 17px;
  }

  .clear-completed {
    font-size: 17px;
  }

  .filter-btn-container {
    display: flex;
    position: unset;
    justify-content: space-between;
    width: 33.3%;
    padding: 0;
    transform: none;
    align-items: center;
    background: transparent;
    font-size: 17px;
    margin-left: 3.5rem;
  }

  .todo-items-container-footer {
    font-size: 17px;
  }

  .item {
    font-size: 16px;
  }

  body {
    font-size: 19px;
  }

}

@media screen and (min-width:900px) {

  .todo-container {

    max-width: 700px;

  }

  ::placeholder {
    font-size: 19px;
  }

  .clear-completed {
    font-size: 18px;
  }

  .todo-items-container-footer {
    font-size: 19px;
  }

  .item {
    font-size: 18px;
  }

  body {
    font-size: 21px;
  }
}